

.destacado {
    color: red;
}


div.cabecera {
    background-color: aquamarine;
    text-align: center;
    height: 50px;
    padding: 20px;
}

div.contenido {
    padding: 50px;
    min-height: 800px;
}


div.pie {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: blue;
    color: white;
    width: 100%;
}

div.bola {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    user-select: none;
}